@model main_prj.Models.Keyboard;

<html lang="vi">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
	<link href="/css/DetailPartial.css" rel="stylesheet" />

</head>

<body>

	<table class="table-fill">
		<tbody class="table-hover">
			<tr>
				<td class="text-left">Hãng sản xuất</td>
				<td class="text-left">@Model.Brand</td>
			</tr>
			<tr>
				<td class="text-left">Mẫu sản phẩm</td>
				<td class="text-left">@Model.Model</td>
			</tr>
			<tr>
				<td class="text-left">Kiểu bàn phím</td>
				<td class="text-left">@Model.KeyboardType</td>
			</tr>
			<tr>
				<td class="text-left">Màu sắc</td>
				<td class="text-left">@Model.Color</td>
			</tr>
			<tr>
				<td class="text-left">Kiểu kết nối</td>
				<td class="text-left">@Model.ConnectionType</td>
			</tr>
			<tr>
				<td class="text-left">Pin</td>
				<td class="text-left">@Model.Battery</td>
			</tr>
			<tr>
				<td class="text-left">Khối lượng</td>
				<td class="text-left">@Model.Weight</td>
			</tr>
			<tr>
				<td class="text-left">Switch</td>
				<td class="text-left">@Model.Switch</td>
			</tr>
			<tr>
				<td class="text-left">LED</td>
				<td class="text-left">@Model.Led</td>
			</tr>
		</tbody>
	</table>


</body>
</html>