@model IEnumerable<main_prj.Models.Order>

@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách đơn hàng</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.OrderDate) *@
                <label>Ngày đặt</label>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TotalValue) *@
                <label>Tổng tiền</label>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Status) *@
                <label>Trạng thái</label>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.ShippingAddress) *@
                <label>Địa chỉ nhận hàng</label>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.ContactNumber) *@
                <label>Điện thoại liên hệ</label>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Receiver) *@
                <label>Tên người nhận</label>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.ShippingFee) *@
                <label>Phí vận chuyển</label>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.PaymentMethod) *@
                <label>Phương thức thanh toán</label>
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>            
            <td>
                <a asp-action="AdminEdit" asp-route-id="@item.OrderId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Chi tiết</a>                 
            </td>
        </tr>
}
    </tbody>
</table>
